@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-background: #232323;
  --base-font: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-background: #232323;
    --base-font: #e4e4e7;
  }
}

body {
  color: var(--base-font);
  background: var(--base-background);
}
